name: Locust Test

on:
  push:
    branches:
      - main

jobs:
  run-locust:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Locust
        run: |
          LOCUST_ENV=prod locust -f locustfile.py \
          --headless \
          -u 10 \
          -r 1 \
          --run-time 5s \
          --html report.html

      - name: Upload Locust report
        uses: actions/upload-artifact@v4
        with:
          name: locust-report
          path: report.html